extends layout

block content

	nav.top-bar
		ul.title-area
			li.name
				h1
					a(href="#") Authentication
		section.top-bar-section
			ul.right
				li
					a(href="#") Home
				li.divider
				li.has-form
					a(href="/logout").button Logout
	.profile
		.row
			.large-6.large-centered.small-6.small-centered.columns
				table
					thead
						tr
							th(width="") Properties
							th(width="") Value
					tbody
						tr
							th Id:
							th #{user._id}
					tbody
						tr
							th Username:
							th #{user.joined}
					tbody
						tr
							th Password:
							th #{user.joined}
					tbody
						tr
							th Email:
							th #{user.joined}
					tbody
						tr
							th Date Joined:
							th #{user.joined}
	
