extends layout

block content

	nav.top-bar
		ul.title-area
			li.name
				h1
					a(href="#") Authentication
		section.top-bar-section
			ul.right
				li
					a(href="#") Home
				li.divider
				li.has-form
					a(href="/logout").button Logout
	.profile
		.row
			.large-9.large-centered.small-9.small-centered.columns
				.information
					.panel
						strong Id: #{user._id}
					.panel 
						strong Username: #{user.local.username}
					.panel 
						strong Password: #{user.local.password}
					.panel
						strong Email: #{user.email}
					.panel
						strong Date Joined: #{user.joined}

